.hero {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 30px;
}

.hero__image {
  width: 550px;
}

.divider {
  border-bottom: solid 1px black;
}

@media (max-width: 920px) {
  .hero {
    flex-wrap: wrap;
  }

  .hero__image {
    width: 100%;
  }
}
